@use "../colors" as *;

$button-background: $control-fill-color-default;
$button-background-pointer-over: $control-fill-color-secondary;
$button-background-pressed: $control-fill-color-tertiary;
$button-background-disabled: $control-fill-color-disabled;
$button-foreground: $text-fill-color-primary;
$button-foreground-pointer-over: $text-fill-color-primary;
$button-foreground-pressed: $text-fill-color-secondary;
$button-foreground-disabled: $text-fill-color-disabled;
$button-border-brush-pressed: $control-stroke-color-default;
$button-border-brush-disabled: $control-stroke-color-default;

$button-border-theme-thickness: 1px;
$button-padding: 6px 11px;

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
select {
    padding: $button-padding;
    color: $button-foreground;
    border-radius: $control-corner-radius;
    background: padding-box $button-background;
    border-left: $button-border-theme-thickness solid $control-stroke-color-default;
    border-top: $button-border-theme-thickness solid $control-stroke-color-default;
    border-right: $button-border-theme-thickness solid $control-stroke-color-default;
    border-bottom: $button-border-theme-thickness solid $control-stroke-color-secondary;

    &:not(:disabled):hover {
        color: $button-foreground-pointer-over;
        background: padding-box $button-background-pointer-over;
    }

    &:not(:disabled):active {
        color: $button-foreground-pressed;
        background: padding-box $button-background-pressed;
        border: $button-border-theme-thickness solid $button-border-brush-pressed;
    }

    &:disabled {
        color: $button-foreground-disabled;
        background: padding-box $button-background-disabled;
        border: $button-border-theme-thickness solid $button-border-brush-disabled;
    }
}