@use "../colors" as *;

$temporary-text-fill-color-disabled: #0101015C;

$text-control-background: $control-fill-color-default;
$text-control-background-pointer-over: $control-fill-color-secondary;
$text-control-background-focused: $control-fill-color-input-active;
$text-control-background-disabled: $control-fill-color-disabled;
$text-control-border-disabled: $control-stroke-color-default;
$text-control-foreground: $text-fill-color-primary;
$text-control-foreground-pointer-over: $text-fill-color-primary;
$text-control-foreground-focused: $text-fill-color-primary;
$text-control-foreground-disabled: $temporary-text-fill-color-disabled;
$text-control-placeholder-foreground: $text-fill-color-secondary;
$text-control-placeholder-foreground-pointer-over: $text-fill-color-secondary;
$text-control-placeholder-foreground-focused: $text-fill-color-secondary;
$text-control-placeholder-foreground-disabled: $text-fill-color-disabled;

$text-control-border-theme-thickness: 1px;
$text-control-border-theme-thickness-focused: 2px;

input,
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    padding: 6px;
    color: $text-control-foreground;
    fill: currentColor;
    background: $text-control-background;
    border-radius: $control-corner-radius;
    border-left: $text-control-border-theme-thickness solid $control-stroke-color-default;
    border-top: $text-control-border-theme-thickness solid $control-stroke-color-default;
    border-right: $text-control-border-theme-thickness solid $control-stroke-color-default;
    border-bottom: $text-control-border-theme-thickness solid $control-strong-stroke-color-default;

    &:not(:disabled):hover {
        color: $text-control-foreground-pointer-over;
        background: $text-control-background-pointer-over;
    }

    &:not(:disabled):active,
    &:not(:disabled):focus:not(:active) {
        outline: none;
        padding: 6px 6px 5px 6px;
        color: $text-control-foreground-focused;
        background: $text-control-background-focused;
        border-bottom: $text-control-border-theme-thickness-focused solid $system-accent-color-dark1;
    }

    &:disabled {
        color: $text-control-foreground-disabled;
        background: $text-control-background-disabled;
        border: $text-control-border-theme-thickness solid $text-control-border-disabled;
    }
}