@mixin masonry($column-width, $column-gap: 0, $row-gap: 0) {
    display: flex;
    flex-direction: column;

    @if $column-gap !=0 {
        column-gap: #{$column-gap};
    }

    @if $row-gap !=0 {
        row-gap: #{$row-gap};
    }

    @supports (display: masonry) or (display: grid-lanes) {
        display: masonry;
        display: grid-lanes;
        grid-template-columns: repeat(auto-fill, minmax(#{$column-width}, 1fr));

        @media screen and (max-width: calc(#{$column-width} * 2)) {
            display: flex;
        }
    }
}