@mixin twitter-mobile {

    input::-webkit-search-cancel-button,
    input::-webkit-search-decoration,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }

    .css-1hf3ou5 {
        white-space: nowrap;
        word-wrap: normal;
    }

    .css-1hf3ou5,
    .css-cens5h {
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .css-cens5h {
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    .r-1yzf0co {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .r-dkhcqf {
        -webkit-transition-duration: .35s;
        transition-duration: .35s;
    }

    .r-18jm5s1 {
        -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
        transition-timing-function: cubic-bezier(0, 0, 0, 1);
    }

    .r-16e0dcy {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
    }

    .r-1lul07w {
        -webkit-transform: translate3d(0, -3.5em, 0);
        transform: translate3d(0, -3.5em, 0);
    }

    .r-140t1nj {
        border-bottom-color: #cfd9de;
    }

    .r-pm2fo {
        border-bottom-left-radius: 0;
    }

    .r-zmljjp {
        border-bottom-right-radius: 0;
    }

    .r-z5qs1h {
        gap: 2px;
    }

    .r-tzz3ar {
        -ms-flex-wrap: nowrap;
        -webkit-box-lines: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button,
    input::-webkit-search-cancel-button,
    input::-webkit-search-decoration,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }

    :focus:not([data-focusvisible-polyfill]) {
        outline: none;
    }

    .css-4rbku5 {
        background-color: transparent;
        color: inherit;
        font: inherit;
        list-style: none;
        margin: 0;
        text-align: inherit;
        text-decoration: none;
    }

    .css-18t94o4 {
        cursor: pointer;
    }

    .css-1dbjc4n {
        -ms-flex-align: stretch;
        -ms-flex-direction: column;
        -ms-flex-negative: 0;
        -ms-flex-preferred-size: auto;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        align-items: stretch;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        min-height: 0;
        min-width: 0;
        position: relative;
        z-index: 0;
    }

    .css-1dbjc4n,
    .css-901oao {
        border: 0 solid #000;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .css-901oao {
        color: #000;
        display: inline;
        font: 14px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .css-16my406 {
        color: inherit;
        font: inherit;
        white-space: inherit;
    }

    .css-bfa6kz {
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .css-9pa8cd {
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .r-13awgt0 {
        -ms-flex: 1 1 0%;
        -webkit-flex: 1;
        flex: 1;
    }

    .r-6koalj {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .r-sdzlij {
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
    }

    .r-1phboty {
        border-style: solid;
    }

    .r-rs99b7 {
        border-width: 1px;
    }

    .r-4qtqp9 {
        display: inline-block;
    }

    .r-crgep1 {
        margin: 0;
    }

    .r-t60dpp {
        padding: 0;
    }

    .r-1yadl64 {
        border-width: 0;
    }

    .r-42olwf {
        border-color: transparent;
    }

    .r-17gur6a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .r-xyw6el {
        padding: 12px;
    }

    .r-jxzhtn {
        border-color: #eff3f4;
    }

    .r-4iw3lz {
        border-width: 0;
    }

    .r-1udh08x {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .r-wwvuq4 {
        padding: 0;
    }

    .r-1adg3ll {
        display: block;
    }

    .r-bztko3 {
        overflow-x: visible;
        overflow-y: visible;
    }

    .r-xoduu5 {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
    }

    .r-1ets6dv {
        border-color: #cfd9de;
    }

    .r-1867qdf {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .r-xf4iuw {
        margin: -8px;
    }

    .r-1jgb5lz {
        margin-left: auto;
        margin-right: auto;
    }

    .r-ymttw5 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .r-oyd9sg {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .r-1fz3rvf {
        margin-left: 12px;
        margin-right: 12px;
    }

    .r-rjfia {
        padding-bottom: 0;
        padding-top: 0;
    }

    .r-s1qlax {
        padding-left: 4px;
        padding-right: 4px;
    }

    .r-1e081e0 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .r-1pn2ns4 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .r-1r5su4o {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .r-12vffkv>* {
        pointer-events: auto;
    }

    .r-12vffkv {
        pointer-events: none !important;
    }

    .r-2llsf {
        min-height: 100%;
    }

    .r-13qz1uu {
        width: 100%;
    }

    .r-417010 {
        z-index: 0;
    }

    .r-lrvibr {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .r-1g40b8q {
        z-index: 3;
    }

    .r-1d2f490 {
        left: 0;
    }

    .r-1xcajam {
        position: fixed;
    }

    .r-zchlnj {
        right: 0;
    }

    .r-1gn8etr {
        top: -.5px;
    }

    .r-d3hbe1 {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .r-o7ynqc {
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
    }

    .r-axxi2z {
        -moz-transition-property: transform;
        -webkit-transition-property: -webkit-transform, transform;
        transition-property: -webkit-transform, transform;
    }

    .r-136ojw6 {
        z-index: 2;
    }

    .r-1e5uvyk {
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
    }

    .r-6026j {
        background-color: hsla(0, 0%, 100%, .85);
    }

    .r-hx83d4 {
        height: 106px;
    }

    .r-1h3ijdo {
        height: 53px;
    }

    .r-1awozwy {
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .r-18u37iz {
        -ms-flex-direction: row;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .r-1777fci {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .r-1pz39u2 {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        -webkit-align-self: stretch;
        align-self: stretch;
    }

    .r-15ysp7h {
        min-height: 32px;
    }

    .r-4wgw6l {
        min-width: 32px;
    }

    .r-1habvwh {
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .r-s8bhmr {
        min-width: 56px;
    }

    .r-1mf7evn {
        margin-right: 20px;
    }

    .r-1loqt21 {
        cursor: pointer;
    }

    .r-16y2uox {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    .r-2yi16 {
        min-height: 36px;
    }

    .r-1qi8awa {
        min-width: 36px;
    }

    .r-6416eg {
        -moz-transition-property: background-color, box-shadow;
        -webkit-transition-property: background-color, box-shadow;
        transition-property: background-color, box-shadow;
    }

    .r-1ny4l3l {
        outline-style: none;
    }

    .r-bcqeeo {
        min-width: 0;
    }

    .r-qvutc0 {
        word-wrap: break-word;
    }

    .r-rjixqe {
        line-height: 20px;
    }

    .r-37j5jr {
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    }

    .r-q4m81j {
        text-align: center;
    }

    .r-a023e6 {
        font-size: 15px;
    }

    .r-b88u0q {
        font-weight: 700;
    }

    .r-yyyyoo {
        fill: currentcolor;
    }

    .r-1xvli5t {
        height: 1.25em;
    }

    .r-dnmrzs {
        max-width: 100%;
    }

    .r-bnwqim {
        position: relative;
    }

    .r-1plcrui {
        vertical-align: text-bottom;
    }

    .r-z80fyv {
        height: 20px;
    }

    .r-19wmn03 {
        width: 20px;
    }

    .r-1cvl2hr {
        color: #1d9bf0;
    }

    .r-lwhw9o {
        height: 1.75rem;
    }

    .r-poiln3 {
        font-family: inherit;
    }

    .r-1wbh5a2 {
        -ms-flex-negative: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
    }

    .r-1pi2tsx {
        height: 100%;
    }

    .r-1iusvr4 {
        -ms-flex-preferred-size: 0px;
        -webkit-flex-basis: 0px;
        flex-basis: 0px;
    }

    .r-1oszu61 {
        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        align-items: stretch;
    }

    .r-eqz5dr {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .r-8fdsdq {
        z-index: 4;
    }

    .r-vqxq0j {
        border: 0 solid #000;
    }

    .r-deolkf {
        box-sizing: border-box;
    }

    .r-1mlwlqe {
        -ms-flex-preferred-size: auto;
        -webkit-flex-basis: auto;
        flex-basis: auto;
    }

    .r-ifefl9 {
        min-height: 0;
    }

    .r-1sw30gj {
        background-color: #eff3f4;
    }

    .r-1dqbpge {
        cursor: -webkit-text;
        cursor: text;
    }

    .r-7q8q6z {
        cursor: default;
    }

    .r-14j79pv {
        color: #536471;
    }

    .r-f727ji {
        padding-left: 12px;
    }

    .r-16dba41 {
        font-weight: 400;
    }

    .r-30o5oe {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .r-1dz5y72 {
        resize: none;
    }

    .r-1niwhzg {
        background-color: transparent;
    }

    .r-homxoj {
        color: inherit;
    }

    .r-7cikom {
        font-size: inherit;
    }

    .r-1ttztb7 {
        text-align: inherit;
    }

    .r-fdjqy7 {
        text-align: left;
    }

    .r-y0fyvk::-webkit-input-placeholder {
        color: #536471;
        opacity: 1;
    }

    .r-y0fyvk::-moz-placeholder {
        color: #536471;
        opacity: 1;
    }

    .r-y0fyvk:-ms-input-placeholder {
        color: #536471;
        opacity: 1;
    }

    .r-y0fyvk::placeholder {
        color: #536471;
        opacity: 1;
    }

    .r-obd0qt {
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .r-1d4mawv {
        margin-right: 4px;
    }

    .r-1w6e6rj {
        -ms-flex-wrap: wrap;
        -webkit-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .r-1wtj0ep {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .r-1b43r93 {
        font-size: 14px;
    }

    .r-1cwl3u0 {
        line-height: 16px;
    }

    .r-19u6a5r {
        margin-left: 12px;
    }

    .r-150rngu {
        -webkit-overflow-scrolling: touch;
    }

    .r-17bb2tj {
        -webkit-animation-duration: .75s;
        animation-duration: .75s;
    }

    .r-1muvv40 {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    .r-127358a {
        -webkit-animation-name: r-9p3sdl;
        animation-name: r-9p3sdl;
    }

    @-webkit-keyframes r-9p3sdl {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        ;
    }

    @keyframes r-9p3sdl {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }

        ;
    }

    .r-1ldzwu0 {
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

    .r-aqfbo4 {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .r-14lw9ot {
        background-color: #fff;
    }

    .r-1ljd8xs {
        border-left-width: 1px;
    }

    .r-13l2t4g {
        border-right-width: 1px;
    }

    .r-33ulu8 {
        width: 600px;
    }

    .r-184en5c {
        z-index: 1;
    }

    .r-1xk2f4g {
        clip: rect(1px, 1px, 1px, 1px);
    }

    .r-109y4c4 {
        height: 1px;
    }

    .r-u8s1d {
        position: absolute;
    }

    .r-92ng3h {
        width: 1px;
    }

    .r-1p0dtai {
        bottom: 0;
    }

    .r-1wyyakw {
        z-index: -1;
    }

    .r-l5o3uw {
        background-color: #1d9bf0;
    }

    .r-y3da5r {
        box-shadow: 0 0 8px rgba(101, 119, 134, .2), 0 1px 3px 1px rgba(101, 119, 134, .25);
    }

    .r-orgf3d {
        opacity: 0;
    }

    .r-eafdt9 {
        -webkit-transition-duration: .15s;
        transition-duration: .15s;
    }

    .r-1b8bd59 {
        -moz-transition-property: transform, opacity;
        -webkit-transition-property: -webkit-transform, transform, opacity;
        transition-property: -webkit-transform, transform, opacity;
    }

    .r-nx0j10 {
        -webkit-transition-timing-function: ease, ease, step-end;
        transition-timing-function: ease, ease, step-end;
    }

    .r-1kihuf0 {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
        align-self: center;
    }

    .r-jwli3a {
        color: #fff;
    }

    .r-1ut4w64 {
        margin-bottom: -1px;
    }

    .r-1qhn6m8 {
        padding-left: 16px;
    }

    .r-i023vh {
        padding-right: 16px;
    }

    .r-ttdzmv {
        padding-top: 12px;
    }

    .r-18kxxzh {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
    }

    .r-1b7u577 {
        margin-right: 12px;
    }

    .r-1hwvwag {
        -ms-flex-preferred-size: 48px;
        -webkit-flex-basis: 48px;
        flex-basis: 48px;
    }

    .r-ipm5af {
        top: 0;
    }

    .r-1wyvozj {
        left: 50%;
    }

    .r-1v2oles {
        top: 50%;
    }

    .r-desppf {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .r-ggadg3 {
        left: -2px;
    }

    .r-8jfcpp {
        top: -2px;
    }

    .r-633pao {
        pointer-events: none !important;
    }

    .r-vvn4in {
        background-position: 50%;
    }

    .r-u6sd8q {
        background-repeat: no-repeat;
    }

    .r-4gszlv {
        background-size: cover;
    }

    .r-12181gd {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, .03);
    }

    .r-1bimlpy {
        background-color: #cfd9de;
    }

    .r-m5arl1 {
        width: 2px;
    }

    .r-14gqq1x {
        margin-top: 4px;
    }

    .r-kzbkwu {
        padding-bottom: 12px;
    }

    .r-zl2h9q {
        margin-bottom: 2px;
    }

    .r-k4xj1c {
        -ms-flex-align: start;
        -webkit-align-items: start;
        -webkit-box-align: start;
        align-items: start;
    }

    .r-1d09ksm {
        -ms-flex-align: baseline;
        -webkit-align-items: baseline;
        -webkit-box-align: baseline;
        align-items: baseline;
    }

    .r-3s2u2q {
        white-space: nowrap;
    }

    .r-dflpy8 {
        height: 1.2em;
    }

    .r-sjv1od {
        margin-left: .075em;
    }

    .r-zw8f10 {
        margin-right: .075em;
    }

    .r-10akycc {
        vertical-align: -20%;
    }

    .r-h9hxbl {
        width: 1.2em;
    }

    .r-1q142lx {
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    .r-13hce6t {
        margin-left: 4px;
    }

    .r-1ssbvtb {
        gap: 12px;
    }

    .r-1s2bzr4 {
        margin-top: 12px;
    }

    .r-9aw3ui {
        gap: 4px;
    }

    .r-1ta3fxp {
        -moz-column-gap: 8px;
        -webkit-column-gap: 8px;
        column-gap: 8px;
    }

    .r-1mdbhws {
        max-width: 425px;
    }

    .r-1h0z5md {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

    .r-bt1l66 {
        min-height: 20px;
    }

    .r-clp7b1 {
        -moz-transition-property: color;
        -webkit-transition-property: color;
        transition-property: color;
    }

    .r-1hdv0qi {
        width: 1.25em;
    }

    .r-n6v787 {
        font-size: 13px;
    }

    .r-1k6nrdp {
        min-width: calc(1em + 24px);
    }

    .r-vc7bo5 {
        min-width: calc(1em + 16px);
    }

    .r-j5o65s {
        border-bottom-color: #eff3f4;
    }

    .r-qklmqi {
        border-bottom-width: 1px;
    }

    .r-15zivkp {
        margin-bottom: 4px;
    }

    .r-p1pxzi {
        margin-bottom: 0;
    }

    .r-1tl8opc {
        font-family: Segoe UI, Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .r-1blvdjr {
        font-size: 23px;
    }

    .r-vrz42v {
        line-height: 28px;
    }

    .r-1jeg54m {
        white-space: normal;
    }

    .r-a2tzq0 {
        -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .r-3qxfft {
        min-height: 1.875rem;
    }

    .r-1dgieki {
        border-top-color: #eff3f4;
    }

    .r-1efd50x {
        border-top-style: solid;
    }

    .r-5kkj8d {
        border-top-width: 1px;
    }

    .r-h3s6tt {
        height: 48px;
    }

    .r-rull8r {
        border-bottom-style: solid;
    }

    .r-50lct3 {
        height: 1.5em;
    }

    .r-1srniue {
        width: 1.5em;
    }

    .r-o52ifk {
        height: 100px;
    }
}